@import "variables";
@import "mixins";
@import "helpers";
@import "components";

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

html, body {
  width: 100%;
  font-family: $font;
  overflow-x: hidden;
}

body {
  &.fixed {
    position: fixed;
    overflow: hidden;

    .main {
      * {
        //position: static;
        z-index: 0;
      }
    }

  }

}

button, input {
  outline: 0;
}

img {
  @media screen and (max-width: 991px) {
    max-width: 100%;
  }
}

.header {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  padding: 30px 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  @media screen and (max-width: 991px) {
    width: 185px;
    z-index: 2;
  }
}

.menu {
  position: relative;
  margin: 0;
  padding: 0;

  &__item {
    list-style: none;
    display: inline;
    margin: 0 15px;
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: ease all .25s;

    &--accedi {
      &:before {
        content: url('../icons/icon_accedi.svg');
        position: absolute;
        top: 0;
        left: -20px;
        margin-right: 15px;
      }
    }

    &:hover {
      color: #fff;
    }
  }

  @media screen and (max-width: 991px) {
    display: none;
  }
}

.navigation-mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  transition: ease all .5s;
  transform: translateX(100%);
  width: 100%;

  &.open {
    left: 0;
    right: 0;
    transition: ease all .5s;
    transform: translateX(0);
  }

  .social {
    position: absolute;
    bottom: 75px;
    height: auto;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(70, 98, 176);
    background: radial-gradient(circle, rgba(70, 98, 176, 1) 0%, rgba(35, 44, 70, 1) 100%);
    padding: 300% 150%;
  }
}

.menu-mobile {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &__item {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #fff;

    &.hasNotLink {
      margin-bottom: 15px;
    }
  }
  &__link {
    font-size: 20px;
    line-height: 38px;
    color: rgba(#fff, .5);
    text-decoration: none;
    font-weight: 400;
    transition: ease all .25s;

    &:hover {
      color: #fff;
    }
  }
}

.image-mobile {
  position: relative;
  display: none;
  width: 100%;
  z-index: 1;

  &--two {
    position: absolute;
    bottom: -35px;
    z-index: 0;
    left: 0;
    right: 0;
  }

  @media screen and (max-width: 991px) {
    display: block;
  }
}

.hamburger {
  display: none;
  width: 24px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 999;
  top: -6px;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 8px;
    }
    &:nth-child(4) {
      top: 16px;
    }
  }

  &.open {
    span {
      background-color: #fff;

      &:nth-child(1) {
        top: 18px;
        width: 0;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0;
      }
    }
  }

  @media screen and (max-width: 991px) {
    display: block;
    margin-left: auto;
  }

}

.mobile-arrows {
  display: none;
  justify-content: flex-end;
  margin-top: 22px;

  &__left {
    opacity: .5;
  }

  span {
    margin-right: 15px;

    i {
      font-size: 24px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 991px) {
    display: flex;
  }
}

.pin {
  position: absolute;
  z-index: 999;

  &--one {
    left: 50%;
    transform: translate(-50%, -50px);
  }

  &-two {
    left: 50%;
    transform: translate(-50%, 0);
  }

  &--three {
    left: 50%;
    transform: translate(-50%, -90px) rotate(-15deg);

    img {
      border-radius: 32px;
    }
  }

  &--four {
    position: absolute;
    top: 50%;
    width: 355px;
    right: 53px;
    overflow: hidden;
    z-index: 1;

    .image {
      transform: translateX(100px);

      &:after {
        display: none;
      }
    }

    img {
      border-radius: 16px;
    }
  }

  &--five {
    transform: translate(-40%, 0);
  }

  &--six {
    transform: translate(100%, 80%);

    img {
      width: 75%;
    }
  }

  &--seven {
    height: 567px;
    bottom: -53px;
    z-index: 0;
    left: 0;
    right: 0;
    transform: none;

    .image {
      width: 0;
      text-align: center;
      overflow: hidden;

      &:after {
        display: none;
      }
    }
  }

  &--eight {
    transform: translate(0, -65%);

    img {
      width: 60%;
    }

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &--nine {
    transform: translate(90%, -30%);

    img {
      width: 60%;
    }

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &--ten {
    transform: translate(0%, 40%);

    img {
      width: 60%;
    }

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  @media screen and (max-width: 991px) {
    display: none;
  }
}

.image {
  img {
    position: relative;
    z-index: 1;
  }
}

.section {
  $self: &;
  position: relative;

  &__inner {

    &--dark {

      h1, .h1 {
        color: #fff;
        margin-bottom: 24px;

        @media screen and (max-width: 991px) {
          margin-bottom: 16px;
        }
      }

      h3, .h3 {
        color: #fff;
        margin-bottom: 40px;

        @media screen and (max-width: 991px) {
          margin-bottom: 32px;
        }
      }

      #{$self}__title {
        color: #fff;
        margin-bottom: 32px;

        &:after {
          background-color: $color--secondary--light;
        }

        @media screen and (max-width: 991px) {
          margin-bottom: 24px;
        }
      }

      #{$self}__description {
        color: #fff;
      }
    }

    &--light {

      #{$self}__title {
        color: $color--primary;

        &:after {
          background-color: $color--primary;
        }
      }

      #{$self}__description {
        color: $color--grey;
      }
    }
  }

  &__title {
    position: relative;
    margin-bottom: 28px;

    &:after {
      content: "";
      position: absolute;
      width: 80px;
      height: 4px;
      left: 0;
      bottom: -10px;
    }

    &.text-center, &.text-md-center {
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

  }

  &__description {
    font-weight: 300;
  }

  /* MODIFIER */

  &--first {
    padding: 350px 0 160px 0;
    background-image: url("../images/bg_section-1.svg"), url("../images/shape-circle.svg");
    background-size: cover, cover;
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;

    @media screen and (max-width: 991px) {
      padding: 150px 0 58px 0;
    }

    @media screen and (max-width: 575px) {
      .image-mobile {
        position: absolute;
        right: -50%;
        max-width: none;
        width: 220px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    @media screen and (max-width: 375px) {
      .image-mobile {
        right: -100%;
      }
    }
  }

  &--second {
    padding: 180px 0 0 0;

    #{$self}__description {
      margin-bottom: 96px;

      @media screen and (max-width: 991px) {
        margin-bottom: 32px;
      }
    }

    .image {
      &:after {
        display: none;
      }
    }

    @media screen and (max-width: 991px) {
      padding: 80px 0 0 0;
    }
  }

  &--third {
    padding: 323px 0 198px 0;
    background-image: url("../images/bg_section-3.svg"), url("../images/shape-circle.svg");
    background-size: cover, cover;
    background-position: right top, -110px top;
    background-repeat: no-repeat, no-repeat;

    .image-mobile {
      display: none;
    }

    .image-mobile-two {
      display: none;
    }

    @media screen and (max-width: 991px) {
      padding: 90px 0 0 0;

      .image-mobile-two {
        display: block;
        top: -40px;
        position: relative;

      }
    }

    @media screen and (max-width: 767px) {
      .image-mobile {
        display: block;
        float: right;
        width: 320px;
      }

      .image-mobile-two {
        display: none;
      }
    }

    @media screen and (max-width: 575px) {
      .image-mobile {
        width: 220px;
        transform: scale(1.5) translate(20%, 15%);
        z-index: 2;
      }
    }

    @media screen and (max-width: 375px) {
      .image-mobile {
        width: 170px;
      }
    }
  }

  &--four {
    padding: 284px 0 0 0;
    @include bg-image("../images/shape.svg", cover, center, no-repeat);

    @media screen and (max-width: 991px) {
      padding: 0;
    }

    #{$self}__inner {
      padding: 189px 0 150px 0;

      @media screen and (max-width: 991px) {
        padding: 253px 0 64px 0;
      }
    }

    #{$self}__outer {
      @include bg-image("../images/bg_section-4.jpg", cover, center bottom, no-repeat);
      position: relative;
      z-index: 1;
    }

    #{$self}__description {
      margin-bottom: 32px;
    }

    .man {
      position: absolute;
      bottom: 0;
      left: 70px;
      margin-bottom: 0;

      @media screen and (max-width: 991px) {
        display: none;
      }

    }

    .circles {
      width: 560px;
      height: 560px;
      left: unset;
      right: 0;
      top: 210px;

      .circle {
        background-color: $color--primary;
        opacity: .05;

        &--x1 {
          width: 850px;
          height: 480px;
          top: 20px;
          left: -130px;
        }

        &--x2 {
          width: 560px;
          height: 360px;
          top: 0;
          left: 300px;
        }
      }
    }

  }

  &--five {
    padding: 160px 0 362px 0;
    @include bg-image("../images/shape.svg", cover, center, no-repeat);

    #{$self}__description {
      margin-bottom: 48px;
    }

    .circles {
      width: 542px;
      height: 480px;
      left: -100px;
      top: -260px;

      .circle {
        background-color: $color--primary;
        opacity: .05;

        &--x1 {
          width: 480px;
          height: 480px;
          top: 0;
          left: 0;
        }

        &--x2 {
          width: 360px;
          height: 360px;
          top: 60px;
          left: 60px;
        }
      }
    }

    .mobile-arrows {
      margin-top: 0;
      justify-content: center;
    }

    @media screen and (max-width: 991px) {
      padding: 80px 0 284px 0;
    }
  }

  &--six {
    padding: 182px 0 530px 0;
    background-color: $color--primary;

    #{$self}__inner {
      padding: 70px 0 0 0;

      @media screen and (max-width: 991px) {
        padding: 0;
      }
    }

    @media screen and (max-width: 991px) {
      padding: 136px 0 36px 0;
    }

    @media screen and (max-width: 575px) {
      .image-mobile {
        transform: scale(1.1) translate(20%, 5%);

        &--two {
          transform: none;
        }
      }
    }
  }

  &--seven {
    padding: 120px 0 120px 0;

    #{$self}__inner {
      padding: 132px 0 0 20px;

      @media screen and (min-width: 992px) and (max-width: 1199px) {
        padding: 60px 0 0 20px;
      }

      @media screen and (max-width: 991px) {
        padding: 0;
      }
    }

    #{$self}__title {
      margin-bottom: 87px;
    }

    @media screen and (max-width: 991px) {
      padding: 80px 0 80px 0;
    }
  }

  &--eight {
    padding-bottom: 127px;

    #{$self}__title {
      margin-bottom: 82px;
    }

    @media screen and (max-width: 991px) {
      padding-bottom: 40px;
    }
  }

  &--nine {
    padding: 139px 0 132px;
    @include bg-image("../images/bg_section-1.svg", cover, left top, no-repeat);

    .btn {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 991px) {
      padding: 80px 0 80px 0;
      background-image: url("../images/img-mobile_section-9.svg"), url("../images/bg_section-1.svg");
      background-size: auto, auto;
      background-position: right 50%, left top;
      background-repeat: no-repeat, no-repeat;

      .download__inner {
        display: flex;
      }
    }
  }

  &--privacy-policy{
    padding: 80px 0;

    ol{
      & > li{
        margin-bottom: 30px;
      }
      p{
        margin-bottom: 15px;
      }
    }
  }

  &--terms{
    padding: 80px 0;

    p{
      margin-bottom: 15px;
    }

    table{
      td{
        border: 1px solid;

        p{
          margin-bottom: 0;
          text-align: center;
          padding: 10px;
        }
      }
    }
  }



}

.form {
  margin-bottom: 40px;

  &__fieldset {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    input {
      max-width: 100%;
      background-color: rgba(#475783, .5);
      border: 1px solid rgba(#fff, .38);
      flex: 1;
      font-size: 18px;
      line-height: 22px;
      padding: 9px 18px;
      border-radius: 4px 0 0 4px;
      color: rgba(#fff, .75);

      @include input-placeholder {
        color: rgba(#fff, .75);
        font-style: italic;
      }
    }

    .btn {
      padding: 9px 18px;
      border-radius: 0 10px 10px 0;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      font-weight: 500;

      &:after {
        font-family: "Font Awesome 5 Pro";
        content: "\f0da";
        font-size: 24px;
        margin-left: 22px;
        font-weight: 700;
      }

      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  }

  label {
    color: #fff;
  }

  @media screen and (max-width: 991px) {
    margin-bottom: 32px;
  }

  @media screen and (max-width: 767px){
    display: none;
  }
}

.download {
  label {
    color: #fff;
    font-weight: 700;
    margin-bottom: 16px;
  }
  &__inner {
    display: flex;
    align-items: center;

    @media screen and (max-width: 991px) {
      display: block;
    }
  }
}

.slider-fade {

  &__dots {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 24px;

      a {
        color: rgba($color--primary, .5);
        text-decoration: none;

        &.active {
          color: $color--primary;
          font-weight: 700;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}

.slider-wide {
  top: 0;
  z-index: 999;

  &__dots {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      list-style-type: none;

      a {
        color: rgba(#4662B0, .62);
        font-weight: 400;
        text-decoration: none;
        padding: 4px;

        &.active {
          color: $color--primary;
          font-weight: 700;
          text-decoration: none;
          border-bottom: 2px solid $color--primary;
        }
      }
    }

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  .slick-slide {
    box-shadow: none;
    height: 332px;
  }

  .slick-current {
    box-shadow: 0 0 32px 0 rgba(35, 44, 70, 0.2);
  }
}

.slider-regular {
  figure {
    img {
      margin: auto;
    }
  }
  .slick-list {
    overflow: hidden;
  }
}

.slider-wrapper {

  &--fluid {
    position: absolute;
    top: 80px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    @media screen and (max-width: 991px) {
      top: 60px;
    }
  }
}

.footer {
  box-shadow: 0 0 32px 0 rgba($color--primary, .2);

  &__inner {
    padding: 40px 0 24px 0;

    p {
      font-weight: 500;
      color: $color--primary;
      margin-bottom: 12px;
    }
  }

  &__link {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 5px;

      a {
        font-size: 12px;
        line-height: 1;
        color: rgba($color--primary, .5);
        text-decoration: none;
        transition: ease all .25s;

        &:hover {
          color: $color--primary;
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {

    padding-bottom: 63px;

    figure {
      margin-bottom: 12px;
    }

    &__inner {
      padding: 40px 0 40px 0;
    }

    &__link {
      margin-bottom: 32px;
    }

  }

  //@media screen and (max-width: 511px) {
  //  //padding: 50px;
  //}
}

.social {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;

  li {
    list-style: none;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 991px) {
    justify-content: center;

    li {
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.colophon {
  background-color: $color--primary;
  text-align: center;
  padding: 16px 0;

  p {
    font-size: 12px;
    line-height: 18px;
    color: rgba(#fff, .7);
  }
}

.hero {
  padding: 160px 0 32px 0;
  background-color: $color--primary;
  text-align: center;
  @include bg-image("../images/shape-hero.svg", auto, right top, no-repeat);

  &__icon {
    margin-bottom: 16px;
  }

  &__title {
    color: #fff;
  }

  &__subtitle {
    color: #fff;
    margin-bottom: 0;
  }

  &--breadcrumbs {
    text-align: left;
    padding: 235px 0 16px 0;
  }

  @media screen and (max-width: 767px) {
    @include bg-image("../images/shape-hero.svg", contain, right top, no-repeat);
  }
}

.faq {
  position: relative;
  overflow: hidden;
  padding: 80px 0 314px 0;
  @include bg-image("../images/shape-faq.svg", auto, right 170%, no-repeat);

  .container {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 24px;
  }

  .circles {
    left: -22%;
    top: -50%;

    .circle {
      background-color: rgba($color--primary, .5);
    }
  }

  &--single {
    padding: 40px 0 80px 0;
  }


  @media screen and (max-width: 767px) {
    padding: 80px 0 80px 0;
  }
}

.categorie {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}

.go-to-back {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: $color--primary;
  text-decoration: none;
  margin-bottom: 40px;

  i {
    font-size: 24px;
    line-height: 1;
    margin-right: 16px;
  }

  &:hover {
    color: $color--primary;
    text-decoration: none;
  }
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;

  &__item {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 17px;
    color: rgba(#fff, .5);
    text-decoration: none;

    &:hover {
      color: rgba(#fff, .5);
      text-decoration: none;
    }

    &.current {
      color: #fff;

      &:after {
        display: none;
      }
    }

    &:after {
      content: "/";
      margin-left: 8px;
    }
  }
}

.list-type-none{
  & > li{
    list-style-type: none;
  }
}
.cookiebar{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color--primary;
  color: #fff;
  z-index: 9999;
  padding: 15px 0;

  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p{
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 15px;
  }

  .btn{
    padding: 5px 15px;
    font-size: 12px;
    line-height: 1;
  }
  
  &.hide{
    display: none;
  }
}

.notFound{
  &__title{
    margin-bottom: 68px;
  }
  &__text{
    margin-bottom: 28px;

    a{
      color: $color--primary;
      font-weight: 500;
    }
    &:last-of-type{
      margin-bottom: 300px;
    }
  }
}