@import "variables";

@mixin noMarker {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

@mixin absolute_overlay($bg_color, $opacity, $z-index) {
  background-color: $bg_color;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: $opacity;
  z-index: $z-index;
}
@mixin overlay_link($z-index) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index;
}

@mixin absolute_center {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

@mixin absolute_top_center {
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@mixin absolute_left_center {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@mixin absolute_right_center {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@mixin clean_button {
  border: 0;
  background: transparent;
  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

@mixin clean_list {
  padding: 0;
  margin: 0;
  * {
    list-style: none;
  }
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

//===== LINKS ==
@mixin link_styles($link, $visit, $hover, $active) {
  color: $link;
  &:visited {
    color: $visit;
  }
  &:hover {
    color: $hover;
  }
  &:active {
    color: $active;
  }
}

//===== POSITIONING ==
@mixin center($position) {
  position: absolute;

  @if $position == 'vertical' {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } @else if $position == 'horizontal' {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  } @else if $position == 'both' {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin bg-image($url, $size, $position, $repeat){
  background-image: url($url);
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}
