@import "../variables";

.btn{
  border-radius: 10px;
  color: #fff;
  padding: 13px 48px;
  text-align: center;
  font-weight: 700;
  border: 0;

  &--primary{
    background-color: $color--primary;
  }

  &--secondary{
    color: $color--primary;
    background-color: $color--secondary;
    border: 1px solid $color--secondary;
    transition: ease all .5s;

    &:hover{
      background-color: $color--primary;
      color: #fff;
      border: 1px solid $color--secondary;
    }

    @media screen and (max-width: 767px){
      display: none;
    }
  }

  &--border-none{
    border: 0;
    transition: ease all .5s;

    &:hover{
      border: 0;
    }
  }

  &--ghost{
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 24px;
    border-radius: 5px;
    background-color: transparent;
    transition: ease all .5s;

    &:hover{
      background-color: #fff;
      color: $color--primary;
    }

    @media screen and (max-width: 575px){
      padding: 12px;
    }
  }

  &--store{
    display: flex;
    align-items: center;
    margin-right: 24px;

    i{
      width: 19px;
      margin-right: 16px;
    }

    @media screen and (max-width: 991px){
      width: 166px;
      margin-bottom: 8px;

      i{
        margin-right: 5px;
      }

      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }

  &--social{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: 0 0 16px 0 rgba($color--primary, .2);
    color: #4662B0;
    text-decoration: none;
    transition: ease all .5s;
    background-color: #fff;

    &:hover{
      background-color: #4662B0;
      color: #fff;
      text-decoration: none;
    }
  }

  &--mobile{
    display: none;
    font-size: 36px;
    padding: 0;
    z-index: 2;

    @media screen and (max-width: 991px){
      display: block;
    }
  }

  &--login{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color--secondary;
    border-radius: 0;
    color: $color--primary;
    text-decoration: none;
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    z-index: 9999;

    &:hover{
      color: $color--primary;
    }

    &:before{
      content: url('../icons/icon_accedi-mobile.svg');
      margin-right: 15px;
    }
  }
}