@import "../variables";

.card{
  $self: &;
  box-shadow: 0 0 32px 0 rgba(#232C46, .2);
  background-color: #fff;
  border: 0;

  &--big{
    border-radius: 20px;

    #{$self}__header{
      padding-bottom: 50%;
      background-size: cover;
      background-position: center;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    #{$self}__title{
      font-weight: 700;
      margin-bottom: 16px;
    }

    #{$self}__body{
      padding: 57px 60px;

      @media screen and (max-width: 575px){
        padding: 40px 16px;
      }
    }

    .pointer{
      content: "";
      border-color: transparent transparent transparent #fff;
      border-style: solid;
      border-width: 24px 0 24px 24px;
      height: 0;
      right: -24px;
      position: absolute;
      top: 283px;
      transition: ease all .5s;
      width: 0;

      @media screen and (min-width: 992px) and (max-width: 1199px){
        top: 249px;
      }

      @media screen and (max-width: 991px){
        display: none;
      }
    }
  }

  &--small{
    width: 320px !important;
    margin: 0 37px;
    border-radius: 32px;

    #{$self}__body {
      padding: 54px 16px 28px 16px;

      img{
        margin-bottom: 24px;
      }

      p {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
      }
    }
  }

  &--faq{
    position: relative;
    text-align: center;
    border-radius: 16px;
    padding: 26px 52px 32px 52px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 30px;
    border: 1px solid #fff;
    transition: ease all .5s;

    #{$self}__header{
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
    }

    #{$self}__body{
      white-space: nowrap;
    }

    #{$self}__link{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    figure{
      margin-bottom: 0;

      img{
        margin-bottom: 18px;
      }
    }

    p{
      font-weight: 500;
    }

    &:hover{
      box-shadow: none;
      background-color: rgba(#4662B0, .05);
      border: 1px solid rgba($color--primary, .15);
      transition: ease all .5s
    }

    @media screen and (max-width: 991px){
      height: auto;
      margin-bottom: 30px;
    }

    @media screen and (max-width: 767px){
      flex-direction: row;
      align-items: center;
      padding: 16px 30px 16px 30px;
      text-align: left;

      #{$self}__header{
        figure{
          img{
            margin-bottom: 0;
          }
        }
        flex: unset;
        width: 30%;
        margin-right: 30px;
      }
      #{$self}__body{
        flex: 1;
      }
    }
  }

  &--collapse{
    box-shadow: none;

    #{$self}__header{
      position: relative;
      padding: 24px 14px;
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: rgba($color--primary, .15);
      cursor: pointer;
      transition: ease all .5s;

      &:hover{
        background-color: rgba($color--primary, .08);
        transition: ease all .5s;

        #{$self}__title{
          font-weight: 500;
          transition: ease all .5s
        }

        &:after{
          color: $color--secondary;
        }
      }

      &:after{
        font-family: "Font Awesome 5 Pro";
        content: "\f061";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 14px;
        font-size: 24px;
        line-height: 1;
        font-weight: 300;
      }
    }

    #{$self}__title{
      font-weight: 300;
      margin-bottom: 0;
      transition: ease all .5s;
    }

    #{$self}__body{
      display: none;
      padding: 40px 95px 40px 32px;
      background-color: rgba($color--primary, .04);
    }

    &.open{
      #{$self}__header{
        &:after{
          content: "\f063";
        }
      }
      #{$self}__title{
        font-weight: 500;
      }
    }

    &:last-of-type{
      #{$self}__header{
        border-width: 1px 0 1px 0;
      }
    }

  }

}