@import "../variables";

@keyframes circleLoop {
  0% {
    opacity: .15;
  }
  50%{
    opacity: .05;
    transform: scale(1.5);
  }
  100% {
    opacity: .15;
    transform: scale(1);
  }
}

.circles{
  position: absolute;
  top: -140px;
  width: 650px;
  height: 650px;
  z-index: 0;
  overflow: hidden;

  .circle{
    position: absolute;
    background-color: #FFECB9;
    opacity: .15;
    border-radius: 100%;

    &--x1{
      width: 560px;
      height: 560px;
      top: 0;
      left: 0;
    }

    &--x2{
      width: 440px;
      height: 440px;
      top: 60px;
      left: 60px;
    }

    &--x3 {
      width: 96px;
      height: 96px;
      top: 80px;
      right: 30px;
      animation: circleLoop 7s infinite;
    }

    &--x4 {
      width: 128px;
      height: 128px;
      right: 40px;
      bottom: 150px;
      animation: circleLoop 8s infinite;
    }

    &--x5{
      width: 80px;
      height: 80px;
      left: 30px;
      bottom: 40px;
      animation: circleLoop 9s infinite;
    }

  }

  @media screen and (max-width: 991px){
    display: none;
  }

}

