@import "../variables";

h1, .h1{
  font-size: 52px;
  line-height: 58px;
  font-weight: 700;

  @media screen and (max-width: 991px){
    font-size: 28px;
    line-height: 34px;
  }
}

h2, .h2{
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

h3, .h3{
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;

  @media screen and (max-width: 991px){
    font-size: 16px;
    line-height: 19px;
  }
}

h4, .h4{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h5, .h5{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

p{
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 0;
}

small, label{
  font-size: 14px;
  line-height: 17px;
}

a{
  color: $color--secondary;
  text-decoration: underline;

  &:hover{
    color: $color--secondary;
  }
}