<div class="cookiebar js-cookie-bar">
    <div class="container">
        <div class="col-md-12">
            <div class="cookiebar__wrapper">
                <p>Il sito Web Conto Lingotto utilizza i cookie per raccogliere dati al fine di creare statistiche per migliorare la qualità del nostro sito web. Accetti i nostri cookies continuando a navigare o cliccando sul pulsante “accetto”. Per maggiori informazioni leggi la nostra <a target="_blank" href="./privacy-policy">Privacy Policy</a>.</p>
                <button class="btn btn--secondary js-cookie-button" style="display: block !important;">Accetto</button>
            </div>
        </div>
    </div>
</div>