{% import '_globals.njk' as globals %}

<footer class="footer">
    <div class="footer__outer">
        <div class="container">
            <div class="footer__inner">
                <div class="row">
                    <div class="col-md-12 col-lg-3">
                        <figure>
                            <img src="./assets/images/logo-footer.svg">
                        </figure>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p>Supporto</p>
                        <ul class="footer__link">
                            <li><a href="./assistenza" >Assistenza</a></li>
                            <li><a target="_blank" href="mailto:supporto@contolingotto.it">Contattaci</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p>Legal</p>
                        <ul class="footer__link">
                            <li><a target="_blank" href="./assets/Informativa-pre-contrattuale-CONTO-LINGOTTO.pdf">Informativa<br> pre-contrattuale</a></li>
                            <li><a href="./privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-lg-2"></div>
                    <div class="col-md-12 col-lg-3">
                        <ul class="social">
                            <li><a class="btn btn--social" href="https://www.linkedin.com/company/conto-lingotto/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a class="btn btn--social" href="https://www.instagram.com/contolingotto" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a class="btn btn--social" href="https://twitter.com/contolingotto" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="btn btn--social" href="https://www.facebook.com/contolingotto/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="colophon">
        <div class="container">
            <div class="col-md-12">
                <p>© Copyright Confinvest F.L. S.p.A. - C.F./P. IVA 07094690158 - Iscritta nell’elenco di Banca d’Italia con il n. 5000450</p>
            </div>
        </div>
    </div>
</footer>
