{% extends "_layout.njk" %}
{% import 'macros/_navigation.njk' as navigation %}
{% import 'macros/_header.njk' as header %}

{% block head %}
  <title>Conto Lingotto | Assistenza | Domande Frequenti</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
{% endblock %}

{% block navigation %}
    {{ navigation.renderNavigation('index') }}
{% endblock %}

{% block header %}
    {{ header.renderHeader('Hello world!') }}
{% endblock %}

{% block content %}

  <section class="hero hero--breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="./">Home</a></li>
            <li class="breadcrumbs__item"><a class="breadcrumbs__link current" href="#">Pagina non trovata</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="faq faq--single">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a class="go-to-back" href="./assistenza"><i class="fal fa-long-arrow-left"></i>Torna indietro</a>
        </div>
      </div>
      <div class="row notFound">
        <div class="offset-md-1 col-md-10">
          <div class="section__inner section__inner--light">
            <figure>
              <img src="./assets/icons/icon_404.svg">
            </figure>
            <h2 class="section__title notFound__title">Pagina non trovata</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <p class="notFound__text">La pagina che stai cercando non esiste</p>
          <p class="notFound__text">Torna alla <a href="./">Homepage</a> oppure utilizza la nostra pagina di <a href="./assistenza">Assistenza</a></p>
        </div>
      </div>
    </div>
    <div class="circles">
      <span class="circle circle--x1"></span>
      <span class="circle circle--x2"></span>
      <span class="circle circle--x4"></span>
    </div>
  </section>



{% endblock %}
