{% extends "_layout.njk" %}
{% import 'macros/_navigation.njk' as navigation %}
{% import 'macros/_header.njk' as header %}

{% block head %}
    <title>Conto Lingotto | Assistenza</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block navigation %}
    {{ navigation.renderNavigation('index') }}
{% endblock %}

{% block header %}
    {{ header.renderHeader('Hello world!') }}
{% endblock %}

{% block content %}

    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <figure class="hero__icon">
                        <img src="./assets/icons/icon-hero_faq.svg">
                    </figure>
                    <h1 class="hero__title">Come possiamo aiutarti?</h1>
                    <h3 class="hero__subtitle">Tutte le risposte e i consigli dal nostro team</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="faq__title">Categorie</h5>
                </div>
            </div>

            <div class="categorie">
                <div class="row">

                    <div class="col-md-6 col-lg-4">
                        <div class="card card--faq">
                            <div class="card__header">
                                <figure>
                                    <img src="./assets/icons/icon_domande-frequenti.svg">
                                </figure>
                            </div>
                            <div class="card__body">
                                <p>Domande frequenti</p>
                            </div>
                            <a class="card__link" href="./domande-frequenti"></a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card card--faq">
                            <div class="card__header">
                                <figure>
                                    <img src="./assets/icons/icon_gestione-account.svg">
                                </figure>
                            </div>
                            <div class="card__body">
                                <p>Gestione account</p>
                            </div>
                            <a class="card__link" href="./gestione-account"></a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card card--faq">
                            <div class="card__header">
                                <figure>
                                    <img src="./assets/icons/icon_sicurezza-privacy.svg">
                                </figure>
                            </div>
                            <div class="card__body">
                                <p>Sicurezza e privacy</p>
                            </div>
                            <a class="card__link" href="./sicurezza-privacy"></a>
                        </div>
                    </div>

                    {#<div class="col-md-6 col-lg-3">#}
                        {#<div class="card card--faq">#}
                            {#<div class="card__header">#}
                                {#<figure>#}
                                    {#<img src="./assets/icons/icon_mondo-oro.svg">#}
                                {#</figure>#}
                            {#</div>#}
                            {#<div class="card__body">#}
                                {#<p>Mondo dell'oro</p>#}
                            {#</div>#}
                            {#<a class="card__link" href="#"></a>#}
                        {#</div>#}
                    {#</div>#}

                </div>
            </div>

        </div>

        <p class="section__description text-center">Non hai trovato quello che cercavi? Scrivici su <br> <a href="mailto:supporto@contolingotto.it">supporto@contolingotto.it</a></p>

        <div class="circles">
            <span class="circle circle--x1"></span>
            <span class="circle circle--x2"></span>
            <span class="circle circle--x4"></span>
        </div>

    </section>


{% endblock %}
