{% extends "_layout.njk" %}
{% import 'macros/_navigation.njk' as navigation %}
{% import 'macros/_header.njk' as header %}

{% block head %}
    <title>Conto Lingotto | Assistenza | Domande Frequenti</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block navigation %}
    {{ navigation.renderNavigation('index') }}
{% endblock %}

{% block header %}
    {{ header.renderHeader('Hello world!') }}
{% endblock %}

{% block content %}

    <section class="hero hero--breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumbs">
                        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="./">Home</a></li>
                        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="./assistenza">Assistenza</a></li>
                        <li class="breadcrumbs__item"><a class="breadcrumbs__link current" href="./domande-frequenti">Domande Frequenti</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="faq faq--single">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="go-to-back" href="./assistenza"><i class="fal fa-long-arrow-left"></i>Torna indietro</a>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <div class="section__inner section__inner--light">
                        <figure>
                            <img src="./assets/icons/icon_domande-frequenti.svg">
                        </figure>
                        <h2 class="section__title">Domande Frequenti</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <div id="accordion">

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Perché ci sono limiti di acquisti giornalieri?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                I limiti di acquisto giornaliero dipendono dal livello del tuo profilo. I profilli di livello 1 hanno un limite di €500,00 per gli acquisti e di €250,00 per il piano di accumulo. Per i profili livello 1 non è possibile effettuare acquisti oltre un massimo annuo di €3.000,00. I profilli di livello 2 hanno un limite giornaliero di €3.000,00 per gli acquisti e di €1.500,00 per il piano di accumulo, non è possibile effettuare acquisti oltre un massimo annuo di €18.000,00. Per acquisti di importo superiore ai 3.000 Euro giornalieri e 18.000 Euro annuali è possibile inviare una richiesta a <a target="_blank" href="mailto:supporto@contoingotto.it">supporto@contolingotto.it</a> per essere contattato.

                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">C’è un ordine minimo?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                L’ordine minimo è di 1,001 grammi di oro fisico a titolo 999,9
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Perché il mio profilo/account non è stato ancora verificato?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                La verifica dei profilli, in genere, viene effettuata entro 24h. Se il tuo profilo non è stato ancora verificato, è possibile che ci siano degli errori nel caricamento dei dati. In questi casi, potrebbe essere necessario più tempo per la verifica. Se entro 5 giorni non hai ancora ricevuto la verifica, puoi inviare una mail a <a target="_blank" href="mailto:supporto@contolingotto.it">supporto@contolingotto.it</a> segnalando il problema.

                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Perché serve il mio IBAN?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Il tuo Iban è necessario per poter effettuare gli acquisti di oro fisico con Conto Lingotto. Una volta impostato, non sarà più necessario inserirlo. L’app lo utilizzerà automaticamente per tutti i tuoi futuri acquisti. È possibile inserire solo un IBAN per ogni Conto Lingotto. Qualora desideri modificare il tuo IBAN invia una mail a <a target="_blank" href="mailto:supporto@contolingotto.it">supporto@contolingotto.it</a>
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Un minorenne può aprire un CL?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Purtroppo, no. Conto lingotto è riservato esclusivamente a utenti maggiorenni, con più di 18 anni di età
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Sono residente all’estero, posso aprire conto lingotto?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Purtroppo, no. Per utilizzare Conto Lingotto devi essere residente in Italia.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Perché il prezzo dell’oro acquistato è diverso dal prezzo indicato nei grafici?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                I prezzi indicati nei grafici sono le quotazioni indicative di mercato per l’oro sui mercati internazionali e variano continuamente. Tali quotazioni sono indicative. Il prezzo al quale si acquista l’oro fisico da Confinvest è quello indicato durante la fase di acquisto ed include il costo di utilizzo del servizio come indicato nelle <a target="_blank" href="./terms-conditions">condizioni generali di vendita</a>.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Perché non posso rivendere o ritirare l’oro appena acquistato?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                L’oro appena acquistato rimarrà bloccato per eventuali richieste di vendite a Confinvest o ritiri fino al buon esito del pagamento da parte del cliente. Non appena l’accredito verrà confermato si finalizzerà l’acquisto ed avrai la piena disponibilità del tuo oro fisico. La conferma di accredito può richiedere fino a 8 giorni lavorativi.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Ha una durata massima il Piano di Accumulo?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                No. Il Piano di Accumulo non ha una durata minima o massima. Puoi annullarlo o aprirne uno nuovo in qualsiasi momento, senza sostenere costi aggiuntivi o penali.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Ci sono costi di apertura e chiusura dei Piani di Accumulo?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                No, l’apertura e la chiusura dei Piani di Accumulo sono gratuite.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Qual è la mensilità del Piano di Accumulo?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Puoi scegliere quale mensilità preferisci per definire il tuo Piano di Accumulo tra: mensile, bimestrale, trimestrale o semestrale.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Quali sono i costi di mantenimento del Piano di Accumulo?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                L’apertura, la conclusione e l’annullamento del piano di Accumulo sono gratuiti. Successivamente agli acquisti si sostiene unicamente il costo relativo alla custodia pari allo 0,5% su base annua
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Quali sono i costi di un acquisto spot e di un acquisto del Piano di Accumulo?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Per ogni acquisto di Oro realizzato dal Cliente tramite la App e/o il Web Site, Confinvest imputerà una commissione volta a remunerare l’attività svolta per i servizi resi da Confinvest e che sarà indicata nell’apposita schermata della App e/o del Web Site e/o comunicata a quest’ultimo a mediante TCD.
                                La Commissione che il Cliente dovrà riconoscere a Confinvest per ciascun acquisto di quantità di Oro realizzato in esecuzione di un Ordine di Acquisto, corrisponderà al totale della somma delle seguenti voci:

                                <ul>
                                    <li>Commissione fissa, inclusiva di imposta di bollo se applicabile di 2 €, per ciascun acquisto (Euro 2,47 + IVA se applicabile)</li>
                                    <li>Commissione variabile (di intermediazione) per ogni grammo di Oro acquistato (Euro 0,272/gr)</li>
                                    <li>Altre commissioni di intermediazione applicate da Confinvest per ciascun acquisto da calcolare sul Prezzo Oro (Massimo 5% del Prezzo Complessivo)</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Ci sono costi di custodia?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Sì. Il costo di custodia è pari allo 0,5% su base annua, ma fino al 31 dicembre 2020 sarà gratuito a tutti gli utenti.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Quale tipologia di oro sto acquistando con Conto Lingotto?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                L’oro acquistato con la soluzione Conto Lingotto è sempre oro fisico da investimento con titolo 999,9. Tutti i lingotti sono certificati da primarie raffinerie aderenti al circuito LBMA.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Bonifico non arrivato sull’account indicato</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Alcune banche hanno un’operatività per i bonifici differente, e necessitano di più tempo per processare la richiesta. Se sono passati più di 5 giorni lavorativi, invia una mail a supporto@contolingotto.it riportando il problema che hai riscontrato.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Perché il prezzo dell’oro venduto è diverso dal prezzo indicato nel mercato?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                I prezzi indicati nei grafici sono le quotazioni indicative di mercato per l’oro sui mercati internazionali e variano continuamente. Tali quotazioni sono indicative. Il prezzo al quale Confinvest potrà a sua discrezione riacquistare l’oro fisico da Confinvest è quello indicato durante la fase di vendita
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">C’è un costo per ricevere il mio lingotto?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                È necessario sostenere il costo della spedizione. Fino a 100g il costo è di 10€ IVA inclusa, sopra 100g il costo è di 50€ IVA inclusa.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">C’è un costo per la produzione dei lingotti che voglio ritirare?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Sì, ogni lingotto ha un costo specifico di manodopera e certificazione:<br>
                                2 grammi: Euro 20,00<br>
                                5 grammi: Euro 20,00<br>
                                10 grammi: Euro 20,00<br>
                                20 grammi: Euro: 20,00<br>
                                50 grammi: Euro 20,00<br>
                                100 grammi: Euro 20,00<br>
                                250 grammi: Euro 30,00<br>
                                500 grammi: Euro 35,00<br>
                                1000 grammi: Euro 45,00
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">E-mail di conferma della spedizione non arrivato</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Scrivici a <a target="_blank" href="mailto:supporto@contolingotto.it">supporto@contolingotto.it</a> riportando il problema che hai riscontrato.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Il mio lingotto non è ancora arrivato</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                La consegna può richiedere anche diversi giorni. Se passato più di 10 giorni periodo non hai avrai ancora ricevuto il tuo lingotto, scrivi una mail a <a target="_blank" href="supporto@contolingotto.it">supporto@contolingotto.it</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="circles">
            <span class="circle circle--x1"></span>
            <span class="circle circle--x2"></span>
            <span class="circle circle--x4"></span>
        </div>
    </section>



{% endblock %}
