{% extends "_layout.njk" %}
{% import 'macros/_navigation.njk' as navigation %}
{% import 'macros/_header.njk' as header %}

{% block head %}
    <title>Conto Lingotto | Assistenza | Gestione Account</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block navigation %}
    {{ navigation.renderNavigation('index') }}
{% endblock %}

{% block header %}
    {{ header.renderHeader('Hello world!') }}
{% endblock %}

{% block content %}

    <section class="hero hero--breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumbs">
                        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">Home</a></li>
                        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="./assistenza">Assistenza</a></li>
                        <li class="breadcrumbs__item"><a class="breadcrumbs__link current" href="./gestione-account">Gestione Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="faq faq--single">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="go-to-back" href="./assistenza"><i class="fal fa-long-arrow-left"></i>Torna indietro</a>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <div class="section__inner section__inner--light">
                        <figure>
                            <img src="./assets/icons/icon_domande-frequenti.svg">
                        </figure>
                        <h2 class="section__title">Gestione Account</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <div id="accordion">

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Come faccio per richiedere cambiamento di profillo a livello 2?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Puoi annullare il tuo piano di accumulo direttamente dall’app o dal sito, utilizzando la apposita funzione nella pagina “Piano di Accumulo”. Dal momento in cui il tuo piano sarà annullato, nessun altro pagamento verrà addebitato sul tuo IBAN. Potrai continuare a visualizzare il tuo oro accumulato dalla home page del tuo Conto Lingotto.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Posso modificare gli importi o la durata del Piano di Accumulo</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Puoi modificare gli importi o la durata cancellando il Piano di Accumulo in vigore ed aprirne successivamente uno nuovo.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Posso vendere l’oro acquistato?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Per vendere l’oro acquistato, puoi inoltrare una richiesta di vendita a Confinvest F.L. direttamente dall’APP, utilizzando l’apposita funzione presente nella pagina “Profilo”, visibile nella sezione “Proponi a Confinvest di acquistare il tuo oro”. Se la richiesta viene accettata, il tuo oro sarà venduto e l’importo sarà accreditato sull’iban che hai indicato.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Se possiedo dell’altro oro, non acquistato con Conto Lingotto, posso venderlo attraverso l’app?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                No, non è possibile rivenderlo tramite l’app. Sarà, però, possibile venderlo a Confinvest F.L. S.p.A.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Come posso ricevere l’oro acquistato?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Puoi inoltrare la richiesta direttamente dal tuo profilo, utilizzando l’apposita funzione “Ritira il tuo oro”. Riceverai il tuo lingotto in modo sicuro all’indirizzo indicato. Ti ricordiamo che non è possibile ritirare meno di 2g di oro fisico.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Come faccio a cancellare il mio account?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                La cancellazione dell’account è possibile tramite richiesta diretta al servizio di supporto.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="circles">
            <span class="circle circle--x1"></span>
            <span class="circle circle--x2"></span>
            <span class="circle circle--x4"></span>
        </div>
    </section>



{% endblock %}
