{% extends "_layout.njk" %}
{% import 'macros/_navigation.njk' as navigation %}
{% import 'macros/_header.njk' as header %}

{% block head %}
    <title>Conto Lingotto</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block navigation %}
    {{ navigation.renderNavigation('index') }}
{% endblock %}

{% block header %}
    {{ header.renderHeader('Hello world!') }}
{% endblock %}

{% block content %}

    <section class="section section--first">
        <div class="container">
            <div class="row">

                <div class="col-8 col-sm-7">
                    <div class="section__inner section__inner--dark">
                        <h1>Sicuro come l'oro, facile <br> come Conto Lingotto</h1>
                        <h3>Il risparmio in oro, semplificato. La soluzione sicura, facile, affidabile e immediata per costruirti una posizione in oro fisico, un grammo alla volta.</h3>
                        <form class="form" action="#" method="get">
                            <div class="form__fieldset">
                                <input type="email" placeholder="Email" name="email" autocomplete="off">
                                <button class="btn btn--secondary btn--border-none">Apri un conto</button>
                            </div>
                            <label>Accetto la <a target="_blank" href="./privacy-policy">privacy policy</a> di Conto Lingotto.</label>
                        </form>
                        <div class="download">
                            <label>Scarica l'app:</label>
                            <div class="download__inner">
                                <button class="btn btn--ghost btn--store">
                                    <i class="fab fa-apple"></i>App Store
                                </button>
                                <button class="btn btn--ghost btn--store">
                                    <i class="fab fa-google-play"></i>Play Store
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4 col-sm-5">
                    <div id="pin1" class="pin pin--one">
                        <div class="image">
                            <img src="./assets/images/img_section-1.png">
                        </div>
                    </div>
                    <img class="image-mobile" src="./assets/images/img_section-1.png">
                </div>

            </div>
        </div>

        <div class="circles">
            <span class="circle circle--x1"></span>
            <span class="circle circle--x2"></span>
            <span class="circle circle--x3"></span>
            <span class="circle circle--x4"></span>
            <span class="circle circle--x5"></span>
        </div>

    </section>

    <section class="section section--second">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 position-relative">
                    <div class="section__inner section__inner--light">
                        <h2 class="section__title">Il tuo oro sempre a portata di mano</h2>
                        <p class="section__description">Con Conto Lingotto puoi acquistare oro fisico in qualsiasi momento, dal pc o smartphone, al prezzo di mercato aggiornato in tempo reale. Puoi inviare una richiesta di rivendita in ogni momento, con un semplice click, o scegliere di ricevere l’oro che possiedi direttamente a casa.</p>

                        <div id="pin2" class="pin pin--two">
                            <div class="image">
                                <img src="./assets/images/img_section-2.png">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5 d-lg-none d-block">
                    <img class="image_mobile" src="./assets/images/img_section-2.png">
                </div>

            </div>
        </div>
    </section>

    <section class="section section--third">
        <div class="container">
            <div class="row flex-lg-row-reverse">
                <div class="col-12 col-md-7">
                    <div class="section__inner section__inner--dark">
                        <h2 class="section__title">Come funziona Conto Lingotto?</h2>
                        <p class="section__description">Compra e vendi oro in modo semplice. Ogni volta che compri un grammo d’oro da Conto Lingotto ti assegniamo una porzione di lingotto fisicamente custodito in un caveau ad alta sicurezza. Questo significa che hai l’effettiva proprietà dell’oro che acquisti, hai un’assicurazione del 100% sul valore e l’oro rimane tuo in qualsiasi circostanza.</p>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div id="pin3" class="pin pin--three">
                        <div class="image">
                            <img src="./assets/images/img_section-3-1.svg">
                        </div>
                    </div>
                    <img class="image-mobile-two" src="./assets/images/img-mobile_section-3.svg">
                </div>
            </div>
        </div>
    </section>

    <section class="section section--four">
        <div class="section__outer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section__inner section__inner--dark">
                            <h2 class="section__title">Regala ai tuoi liquidi la solidità dell’oro</h2>
                            <p class="section__description">Attiva un piano di accumulo scegliendo l’importo e la frequenza di acquisto dell’oro: una solida alternativa alla liquidità sul conto corrente e ai piani di accumulo tradizionali. Storicamente, il modo più sicuro per difendere il valore dei tuoi risparmi.</p>
                            <button class="btn btn--secondary">Apri un conto</button>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <figure class="man">
                            <img src="./assets/images/man.png">
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <div class="circles">
            <span class="circle circle--x1"></span>
            <span class="circle circle--x2"></span>
        </div>

    </section>

    <section class="section section--five">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__inner section__inner--light">
                        <h2 class="section__title text-center">Sicuro. Assicurato. Protetto</h2>
                        <p class="section__description text-center">La protezione del tuo oro è la nostra priorità. <br>Scopri gli standard di sicurezza che ti garantisce Conto Lingotto.</p>
                        <ul class="slider-wide__dots js-slider-wide-dots"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-0 position-relative">
            <div class="mobile-arrows">
                <span class="mobile-arrows__left js-arrow-left" data-slide="js-slider-wide"><i class="fal fa-long-arrow-left"></i></span>
                <span class="mobile-arrows__right js-arrow-right" data-slide="js-slider-wide"><i class="fal fa-long-arrow-right"></i></span>
            </div>
            <div class="slider-wrapper slider-wrapper--fluid">
                <div class="slider-wide js-slider-wide">
                    <div class="card card--small" data-title="Caveau assicurati">
                        <div class="card__body">
                            <img src="./assets/icons/icon_caveau-assicurati.svg">
                            <h4>Caveau assicurati</h4>
                            <p>Ogni grammo di oro che acquisti è custodito in caveau, è assicurato al 100% ed è assegnato al tuo nome. Puoi anche scegliere di ricevere l’oro fisicamente a casa.</p>
                        </div>
                    </div>
                    <div class="card card--small" data-title="Da 40 anni al tuo fianco">
                        <div class="card__body">
                            <img src="./assets/icons/icon_crittografia-avanzata.svg">
                            <h4>Da 40 anni al tuo fianco</h4>
                            <p>Conto Lingotto è un servizio di Confinvest F.L. S.p.A, l’azienda quotata in Borsa Italiana che da 40 anni è leader nella vendita e l’acquisto di oro fisico da investimento. Una storia sulla quale fare affidamento.</p>
                        </div>
                    </div>
                    <div class="card card--small" data-title="Crittografia avanzata">
                        <div class="card__body">
                            <img src="./assets/icons/icon_compliance.svg">
                            <h4>Crittografia avanzata</h4>
                            <p>La nostra infrastruttura tecnologica è stata sviluppata da specialisti di cyber-security con particolare attenzione alle funzioni anti-frode, ad esempio con protezione biometrica o 2-factor authentication. Le tue transazioni sono perfettamente al sicuro.</p>
                        </div>
                    </div>
                    <div class="card card--small" data-title="Rivendita">
                        <div class="card__body">
                            <img src="./assets/icons/icon_garanzia-di-buyback.svg">
                            <h4>Rivendita</h4>
                            <p>In qualsiasi momento puoi fare una richiesta di rivendita dell'oro acquistato in Conto Lingotto. Se la richiesta verrà accettata, l'importo sarà accreditato sull'Iban selezionato.</p>
                        </div>
                    </div>
                    <div class="card card--small" data-title="Sviluppato da esperti">
                        <div class="card__body">
                            <img src="./assets/icons/icon_sviluppato-da-esperti.svg">
                            <h4>Sviluppato da esperti</h4>
                            <p>Dietro Conto Lingotto c’è un team di pionieri del fintech e di oro da investimento, con una estesa conoscenza di infrastrutture di pagamento bancarie, compliance, normative e operational design.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="circles">
            <span class="circle circle--x1"></span>
            <span class="circle circle--x2"></span>
            <span class="circle circle--x4"></span>
        </div>

    </section>

    <section class="section section--six">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-5">
                    <div class="section__inner section__inner--dark">
                        <h2 class="section__title">Segui le performance dell’oro</h2>
                        <p class="section__description">Possedere oro non è mai stato così facile. In Conto Lingotto puoi seguire l’andamento dei mercati e accedere a un bene rifugio affidabile da millenni, verificando le sue performance in tempo reale.</p>
                        <img class="image-mobile mt-4" src="./assets/images/img-mobile_section-6.svg">
                        <img class="image-mobile image-mobile--two" src="./assets/images/graphic.svg">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div id="pin5" class="pin pin--five">
                        <div class="image">
                            <img src="./assets/images/img_section-6-1.svg">
                        </div>
                    </div>
                    <div id="pin6" class="pin pin--six">
                        <div class="image">
                            <img src="./assets/images/img_section-6-2.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pin pin--seven">
                <div id="pin7" class="image">
                    <img src="./assets/images/graphic.svg">
                </div>
            </div>
        </div>
    </section>

    <section class="section section--seven">
        <div class="container">
            <div class="row flex-column-reverse flex-lg-row">
                <div class="offset-lg-1 col-lg-6">
                    <div class="slider-fade js-slider-fade">

                        <div class="card card--big" data-title="Utilizzato da millenni">
                            <div class="card__header" style="background-image: url(./assets/images/oro_millenni_1.jpg);"></div>
                            <div class="card__body">
                                <h3 class="card__title">Utilizzato da millenni</h3>
                                <p class="card__description">L’oro ha storicamente dimostrato di essere un bene sicuro, permettendo a tutte le persone in ogni parte del mondo di preservare il valore dei propri risparmi. Si utilizza da millenni negli scambi commerciali e le maggiori potenze economiche hanno parte delle proprie riserve nazionali in oro fisico.</p>
                            </div>
                        </div>

                        <div class="card card--big" data-title="Sempre affidabile">
                            <div class="card__header" style="background-image: url(./assets/images/affidabile_oro_2.jpg);"></div>
                            <div class="card__body">
                                <h3 class="card__title">Sempre affidabile</h3>
                                <p class="card__description">L’oro è il bene rifugio per eccellenza. Ha la capacità di conservare il proprio valore anche nelle fasi di profonda crisi finanziaria e incertezza politica. Svolge un ruolo di protezione del patrimonio anche in presenza di scenari economico-sociali estremi e imprevedibili.</p>
                            </div>
                        </div>

                        <div class="card card--big" data-title="Continuità di valore nel tempo">
                            <div class="card__header" style="background-image: url(./assets/images/valore_oro_3.jpg);"></div>
                            <div class="card__body">
                                <h3 class="card__title">Continuità di valore nel tempo</h3>
                                <p class="card__description">L’oro conserva il suo valore perché è quantitativamente limitato in natura, non può essere creato dal nulla o riprodotto in laboratorio, l’unico modo per ottenere oro è con l’estrazione. </p>
                            </div>
                        </div>

                        <div class="card card--big" data-title="Il bene più commerciabile">
                            <div class="card__header" style="background-image: url(./assets/images/oro_commerciabile_4.jpg);"></div>
                            <div class="card__body">
                                <h3 class="card__title">Il bene più commerciabile</h3>
                                <p class="card__description">L’oro è facile da rivendere perchè è un bene scarso, molto scambiato, dagli innumerevoli utilizzi commerciali e industriali. Le compravendite di oro fisico e prodotti finanziari collegati ammontano a $200 miliardi al giorno.</p>
                            </div>
                        </div>

                        {#<div class="card card--big" data-title="In prima pagina">#}
                            {#<div class="card__header" style="background-image: url(./assets/images/oro_inprimapagina_5.jpg);"></div>#}
                            {#<div class="card__body">#}
                                {#<h3 class="card__title">In prima pagina</h3>#}
                                {#<p class="card__description">L'oro è tornato al centro degli interessi delle maggiori testate finanziarie internazionali come asset da tenere sempre in portafoglio, specialmente negli anni di turbolenza finanziaria e politica che stiamo attraversando.</p>#}
                            {#</div>#}
                        {#</div>#}

                    </div>
                    <div class="mobile-arrows">
                        <span class="mobile-arrows__left js-arrow-left" data-slide="js-slider-fade"><i class="fal fa-long-arrow-left"></i></span>
                        <span class="mobile-arrows__right js-arrow-right" data-slide="js-slider-fade"><i class="fal fa-long-arrow-right"></i></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section__inner section__inner--light">
                        <h2 class="section__title">Perchè proteggere i tuoi risparmi in oro?</h2>
                        <ul class="slider-fade__dots js-slider-fade-dots"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#<section class="section section--eight">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<div class="section__inner section__inner--light">#}
                        {#<h2 class="section__title text-center">Le banche con cui collaboriamo</h2>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<div class="slider-regular js-slider-regular">#}
                        {#<figure>#}
                            {#<img src="./assets/images/placeholder__banche.jpg">#}
                        {#</figure>#}
                        {#<figure>#}
                            {#<img src="./assets/images/placeholder__banche.jpg">#}
                        {#</figure>#}
                        {#<figure>#}
                            {#<img src="./assets/images/placeholder__banche.jpg">#}
                        {#</figure>#}
                        {#<figure>#}
                            {#<img src="./assets/images/placeholder__banche.jpg">#}
                        {#</figure>#}
                        {#<figure>#}
                            {#<img src="./assets/images/placeholder__banche.jpg">#}
                        {#</figure>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    <section class="section section--nine">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section__inner section__inner--dark">
                        <h2 class="section__title">Risparmia i tuoi primi grammi d’oro</h2>
                        <button class="btn btn--secondary">Apri un conto</button>

                        <div class="download">
                            <label>Scarica l'app:</label>

                            <div class="download__inner">
                                <button class="btn btn--ghost btn--store">
                                    <i class="fab fa-apple"></i>App Store
                                </button>
                                <button class="btn btn--ghost btn--store">
                                    <i class="fab fa-google-play"></i>Play Store
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div style="transform: rotate(-25deg); position: relative;">
                        <div id="pin8" class="pin pin--eight">
                            <div class="image">
                                <img src="./assets/images/img_section-9-1.svg">
                            </div>
                        </div>
                        <div id="pin9" class="pin pin--nine">
                            <div class="image">
                                <img src="./assets/images/img_section-6-2.svg">
                            </div>
                        </div>
                        <div id="pin10" class="pin pin--ten">
                            <div class="image">
                                <img src="./assets/images/img_section-9-3.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TO DO: Per far apparire il tasto accedi, rimuovere (style="display: none;") -->
    <a href="#" class="btn btn--login position-fixed d-lg-none" style="display: none;">Accedi</a>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="./assets/javascripts/TweenMax.min.js"></script>
    <script type="text/javascript" src="./assets/javascripts/animations.js"></script>
    <script type="text/javascript" src="./assets/javascripts/slick.js"></script>
    <script type="text/javascript" src="./assets/javascripts/sliders.js"></script>
    <script>
        $(function () {
            const slider = new Slider();
            slider.events(init = true);
        });
    </script>
{% endblock %}
