{% extends "_layout.njk" %}
{% import 'macros/_navigation.njk' as navigation %}
{% import 'macros/_header.njk' as header %}

{% block head %}
    <title>Conto Lingotto | Privacy Policy</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block navigation %}
    {{ navigation.renderNavigation('index') }}
{% endblock %}

{% block header %}
    {{ header.renderHeader('Hello world!') }}
{% endblock %}

{% block content %}

    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <figure class="hero__icon">
                        <img src="./assets/icons/icon-hero_faq.svg">
                    </figure>
                    <h1 class="hero__title">Privacy Policy</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--privacy-policy">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="section__inner section__inner--light">
                        <h2 class="section__title text-uppercase">politica sulla privacy</h2>

                        <ol class="list-type-none">
                            <li>
                                <strong>1) Dati del Clienti - Tutela della Privacy - GDPR</strong>
                                <p>Ai sensi del Decreto Legislativo 196/2003 - Codice della privacy modificato e aggiornato dal D.Lgs. 101/2018, degli articoli 4, n. 7), 13, 14 e 24 del GDPR relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali, nonché alla libera circolazione di tali dati, Confinvest informa che per poter procedere alla registrazione, all’inoltro dell’Ordine di Acquisto e quindi alla
                                    conclusione e all’esecuzione del presente Contratto sono richiesti al Cliente, attraverso la App e/o il Web Site, alcuni Dati di Registrazione del Servizio. Il Cliente prende atto che i Dati di Registrazione del Servizio, quindi dati personali forniti, saranno registrati e utilizzati per dare esecuzione a ciascun acquisto eseguito tramite App e/o Web Site e, previo Suo consenso, per le eventuali ulteriori
                                    attività così come indicate nell’apposita informativa sulla privacy fornita al Cliente attraverso la App e/o il Web Site al momento della registrazione. Il Cliente potrà in ogni momento aggiornare e/o modificare i propri Dati di Registrazione del Servizio e più in generale i dati personali forniti a Confinvest, e comunque avere ulteriori informazioni attraverso l’apposita sezione della App e/o del Web Site
                                    accessibile previa autenticazione. Con riferimento al trattamento in oggetto Confinvest è titolare dei dati, e gli stessi saranno trattati in conformità a quanto di seguito riportato:</p></li>

                            <ol class="list-type-none">
                                <li>
                                    <strong>(I) POLITICA SULLA PRIVACY ai sensi del GDPR</strong>
                                    <p>Titolare del trattamento: CONFINVEST F.L. S.P.A. situato in via della Posta n. 8 - Piazza Affari - 20123 Milano (MI). Ai sensi del Decreto Legislativo 196/2003 - Codice della privacy modificato e aggiornato dal D.Lgs. 101/2018 e degli articoli 4, n. 7) e 24 del GDPR sulla tutela delle persone fisiche con riguardo al trattamento dei dati personali, Confinvest dichiara e informa che per l'istituzione e
                                        l'esecuzione di rapporti con l'utente/Cliente in corso, si dispone di dati personali (personali e fiscali). Al fine di ottemperare agli obblighi previsti dal Codice e dalle normative comunitarie in materia di privacy in relazione ai tuoi dati, con la sottoscrizione delle presenti Condizioni Generali di Vendita l'utente/Cliente dichiara di aver preso nota delle seguenti informazioni e ad acconsente al
                                        trattamento dei dati personali che Confinvest ha acquisto ed acquisirà.</p></li>
                                <li>
                                    <strong>(II) Informazioni Raccolte</strong>
                                    <p>Confinvest si impegna a raccogliere solo informazioni necessarie, pertinenti e appropriate allo scopo per il quale le stesse sono fornite. Le informazioni che Confinvest raccoglie possono includere alcuni o tutti i seguenti elementi:</p>
                                    <ul>
                                        <li>Dati di identità: nome, cognome, nome utente o identificativo e titolo simili.</li>
                                        <li>Informazioni di contatto: indirizzo di fatturazione, indirizzo di consegna, indirizzo e-mail e numeri di telefono.</li>
                                        <li>Dati finanziari: dettagli del conto bancario e della carta di pagamento raccolti esclusivamente allo scopo di completare l'acquisto.</li>
                                        <li>Dati sulle transazioni: dettagli sui pagamenti e altri dettagli sui prodotti e servizi acquistati o venduti.</li>
                                        <li>Dati del profilo: acquisti o ordini effettuati, eventuali profili social (se applicabile), preferenze, feedback, comunicazioni e risposte a sondaggi interni, password e nome utente, se applicabile (portale clienti).</li>
                                        <li>Dati di utilizzo: informazioni su come viene utilizzato il Web Site e/o la App, prodotti e servizi.</li>
                                        <li>Dati di marketing e comunicazione: preferenze nella ricezione di comunicazioni di marketing e terzi e preferenze di comunicazione.</li>
                                        <li>Dati tecnici: indirizzo IP (Internet Protocol), i dati di accesso, il tipo e la versione del browser, l'impostazione del fuso orario e la posizione del plug-in del browser, i tipi e le versioni, il sistema operativo e la Piattaforma e altre tecnologie su dispositivi utilizzati per accedere al Web Site e/o la App.</li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>(III) Utilizzo Delle Informazioni</strong>
                                    <p>Vengono elaborate solo le informazioni necessarie alle seguenti finalità:</p>

                                    <ol class="list-type-none">
                                        <li>
                                            <strong>1. Gestione operativa e finalità a questa strettamente connesse per l’accesso al Web Site e/o la App.</strong>
                                            <p>Confinvest raccoglie i dati di contatto e di utilizzo del Web Site e/o della App per consentire all’utente/Cliente di poter accedere all’Area Personale, ove presente e procedere con gli ordini dei prodotti e/o servizi interessati. Presupposto per il trattamento: adempimento degli obblighi contrattuali. Il conferimento dei dati è obbligatorio per rispondere alle sue richieste; in difetto non potremo
                                                darvi corso.</p>
                                        </li>
                                        <li>
                                            <strong>2. Indagini di customer satisfaction</strong>
                                            <p>Confinvest potrà utilizzare i dati di contatto per la conduzione di indagini volte a misurare il livello di soddisfazione (cd. customer satisfaction) del servizio erogato. Presupposto per il trattamento: il consenso. il mancato conferimento dello stesso non comporta conseguenze sui rapporti contrattuali. Il consenso può essere revocato in ogni momento scrivendo al seguente indirizzo: <a
                                                        href="mailto:supporto@contolingotto.it">supporto@contolingotto.it</a></p>
                                        </li>
                                        <li>
                                            <strong>3. Marketing</strong>
                                            <p>Confinvest potrebbe trattare i dati di contatto per finalità di marketing e comunicazione pubblicitaria, diretta ad informare l’utente/Cliente su iniziative promozionali di vendita, realizzate mediante modalità automatizzate di contatto (posta elettronica, sms e altri strumenti di messaggistica massiva, TDC, ecc.) e modalità tradizionali di contatto (ad esempio, telefonata con operatore) ovvero per
                                                ricerche di mercato e indagini statistiche. Presupposto per il trattamento: il consenso. Il mancato conferimento dello stesso non comporta conseguenze sui rapporti contrattuali. Il consenso può essere revocato in ogni momento scrivendo al seguente indirizzo: <a href="supporto@contolingotto.it">supporto@contolingotto.it</a></p>
                                        </li>
                                        <li>
                                            <strong>4. Conformità alle richieste giuridicamente vincolanti per adempiere un obbligo legale, regolamenti o provvedimenti dell’autorità giudiziaria, nonché per difendere un diritto in sede giudiziaria</strong>
                                            <p>Confinvest raccoglie i dati di contatto per adempiere un obbligo legale e/o per difendere un proprio diritto in sede giudiziaria Presupposto per il trattamento: obblighi di Legge, cui Confinvest è obbligata a ottemperare.</p>

                                            <ol class="list-type-none">
                                                <li>
                                                    <strong>(IV) Condivisione</strong>
                                                    <p>Confinvest non condividerà le informazioni con terzi, tuttavia, Confinvest potrà di volta in volta comunicare le informazioni alle seguenti categorie di società o organizzazioni a cui passiamo la responsabilità di gestire servizi per nostro conto: fornitori di servizi di assistenza, centri di contatto clienti, agenzie e consulenti di marketing diretto, ricerche di mercato e fornitori di
                                                        servizi di analisi del mercato, consulenti legali e altri professionisti. Confinvest si adopererà per garantire che tutti i partner di terze parti che gestiscono le informazioni siano conformi alla legislazione sulla protezione dei dati e proteggano le informazioni con le medesime modalità adottate da Confinvest. Confinvest comunicherà a questi ultimi solo le informazioni personali
                                                        STRETTAMENTE necessarie per fornire il servizio che stanno eseguendo per conto della stessa Confinvest. Confinvest provvederà ad anonimizzare le informazioni o utilizzare set di dati specifici aggregati ove possibile.</p>
                                                </li>
                                                <li>
                                                    <strong>(V) Termini Di Conservazione</strong>
                                                    <p>Confinvest non conserverà le informazioni personali in un formato identificativo per un periodo più lungo del necessario. Per i clienti o fornitori, Confinvest conserverà informazioni personali per un periodo più lungo rispetto al trattamento di potenziali clienti/fornitori. Nel caso di un rapporto continuativo (ad esempio un Cliente), Confinvest conserverà le informazioni personali per 10
                                                        anni dalla data dell’ultima operazione effettuata, per poter stabilire, portare o difendere in giudizio eventuali reclami legali. Le informazioni promozionali e di marketing verranno conservate da Confinvest per un periodo massimo di 24 mesi.</p>
                                                </li>
                                                <li>
                                                    <strong>(VI) Archiviazione</strong>
                                                    <p>I dati personali che Confinvest raccoglie possono essere trasferiti a, e memorizzati in, una destinazione al di fuori dell'Area Economica Europea (EEA), per le finalità sopra descritte. Confinvest adotterà tutte le misure ragionevolmente necessarie per garantire che i dati personali siano trattati in modo sicuro e in conformità con la presente Informativa sulla privacy e la legislazione sulla
                                                        protezione dei dati. Nella misura in cui è necessario trasferire i dati personali al di fuori dell’Unione europea, Confinvest garantisce che siano adottate misure di protezione adeguate per proteggere la privacy e l'integrità di tali dati, comprese le clausole sui modelli dell'Unione europea ai sensi dell'articolo 46 “Trasferimento soggetto a garanzie adeguate”.</p>
                                                </li>
                                                <li>
                                                    <strong>(VII) Cookie</strong>
                                                    <p> cookie sono file di testo che identificano il computer (attraverso il cosiddetto indirizzo IP) sul nostro server. Per informazioni sui motivi per cui li usiamo fare riferimento alla sezione “Come utilizziamo le informazioni che vengono raccolte” della presente Privacy Policy. Confinvest non utilizzerà l'indirizzo IP come mezzo per identificare l'utente/Cliente. In genere, c'è la possibilità
                                                        di impostare il computer in modo che accetti tutti i cookie, per essere informato quando viene emesso un cookie o per non ricevi i cookie in ogni momento, questo è possibile attraverso il browser internet. Con la maggior parte dei browser, questa funzione può essere raggiunta tramite il menu 'tools' (ad es. Internet Explorer), 'edit', o 'task'. Se ci sono problemi a trovare quest'area, la
                                                        funzione "aiuto" all'interno del browser sarà in grado di fornire assistenza. L'utente/Cliente potrà inoltre trovare informazioni più dettagliate sui cookie e su come gestirli su <a href="http://www.allaboutcookies.org" target="_blank">http://www.allaboutcookies.org</a>. Il rifiuto dei cookie, potrebbe impedire il corretto funzionamento del Web Site o persino impedire l'accesso a determinate
                                                        aree.</p>
                                                </li>
                                                <li>
                                                    <strong>(VIII) Utilizzo dei cookie da parte di Confinvest</strong>
                                                    <p>A seconda della funzione e dello scopo d'utilizzo, i cookie possono essere classificati in cookie tecnici, cookie analitici, cookie di profilazione. Tutti i cookie sono suddivisi in cookie proprietari, installati direttamente dal gestore del sito e in cookie di terze parti, installati attraverso il Sito da terze parti. In base alle caratteristiche e all'utilizzo dei cookie, possiamo
                                                        distinguere diverse categorie:</p>

                                                    <ol class="list-type-none">
                                                        <li>
                                                            <strong>1. Cookie di navigazione</strong>
                                                            <p>sul Web Site tracciano il percorso dei cookie (attività cosiddetta "click stream", ovvero la registrazione dei percorsi seguiti dai visitatori di un sito nel passaggio da una pagina all'altra) senza poter conoscere o identificare l'utente/Cliente, al fine di raccogliere dati statistici sul sito come, ad esempio, le pagine visitate, scaricate, etc. Confinvest ribadisce che nessuna
                                                                di queste informazioni sono associate all’utente/Cliente individualmente. I cookie non acquisiscono l’indirizzo e-mail personale dell’utente/Cliente, né alcuna delle informazioni private dell’utente/Cliente. Le informazioni ottenute dal tracciamento dei cookie vengono valutate solo complessivamente. I file di registro del server web vengono inoltre utilizzati per contare i visitatori
                                                                e valutare le capacità tecniche del Web Site in modo da facilitare la navigazione sul sito e per rendere le sue pagine più utili agli utenti/Clienti. Confinvest potrà raccogliere informazioni sul traffico del sito, ma non sui singoli visitatori.</p>
                                                        </li>
                                                        <li>
                                                            <strong>2. Cookie di sessione</strong>
                                                            <p>sono strettamente necessari per fornire all’utente/Cliente i servizi disponibili attraverso il Web Site e per utilizzare alcune delle funzionalità di quest’ultimo. Poiché questi cookie sono strettamente necessari, non è possibile rifiutarli senza influire sul funzionamento del Web Site, ma è possibile bloccarli o eliminarli modificando le impostazioni del browser e imponendo il
                                                                blocco di tutti i cookie sul Web Site.</p>
                                                        </li>
                                                        <li>
                                                            <strong>3. I cookie di Google Analytics</strong>
                                                            <p>raccolgono informazioni che vengono utilizzate in forma aggregata per aiutarci a capire come viene utilizzato il Web Site o l'efficacia delle campagne di marketing di Confinvest o per aiutare Confinvest a personalizzare il sito al fine di migliorare l’esperienza degli utenti/Clienti. </p>
                                                        </li>
                                                        <li>
                                                            <strong>4. Cookie di profilazione</strong>
                                                            <p>creano profili utente e vengono utilizzati per inviare messaggi pubblicitari in linea con le preferenze manifestate dall' utente/Cliente durante la navigazione sul Web Site: </p>

                                                            <ol class="list-type-none">
                                                                <li>
                                                                    <p><strong>a.</strong> I cookie raccolti per le finalità sopra elencate possono essere comunicati ai soggetti competenti incaricati della gestione del sito per lo svolgimento, anche parziale, delle attività connesse all'incarico. </p>
                                                                </li>
                                                                <li>
                                                                    <p><strong>b.</strong> Per tutti i cookie diversi dai cookie tecnici, è necessario il consenso espresso dell'utente/Cliente la prima volta che visita il sito. Il consenso viene tracciato nelle visite successive, tuttavia l'utente/Cliente ha sempre la possibilità di revocare in tutto o in parte il consenso già espresso. </p>
                                                                </li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                </li>
                                                <li>
                                                    <strong>(IX) Durata</strong>
                                                    <p>Alcuni cookie (cookie di sessione) rimangono attivi solo fino alla chiusura del browser. Altri cookie (cookie persistenti) "sopravvivono" alla chiusura del browser e sono disponibili anche in successive visite dell'utente/Cliente e la loro durata è impostata dal server al momento della loro creazione con una data di scadenza prestabilita. L'impostazione può essere definita specificamente per
                                                        diversi siti web e applicazioni web. Inoltre, i browser più comuni consentono di definire impostazioni diverse per vari tipi di cookie. È possibile impostare il browser in modo che venga notificato in caso di tentativi di inserimento di cookie, limitazione o rifiuto completo. </p>
                                                </li>
                                                <li>
                                                    <strong>(X) Diritti dell'interessato</strong>
                                                    <p>L’interessato potrà far valere i propri diritti, così come previsti dagli artt. 15-23 GDPR in particolare: </p>

                                                    <ul>
                                                        <li>Richiedere una copia delle informazioni che sono in possesso di Confinvest;</li>
                                                        <li>Correggere e aggiornare le proprie informazioni;</li>
                                                        <li>Ritirare il consenso;</li>
                                                        <li>Diritto di opporsi e a richiedere la cancellazione dei dati o la limitazione d’uso, ove non sussistano motivi legittimi per continuare a utilizzare ed elaborare le sue informazioni e/o in mancanza di consenso ad attività di marketing diretto;</li>
                                                        <li>Diritto alla portabilità dei dati;</li>
                                                        <li>Diritto di proporre reclamo all’Autorità di controllo competente (Garante Privacy).<br>
                                                            È possibile esercitare i diritti di cui sopra e/o gestire le informazioni contattandoci ai seguenti riferimenti:<br>
                                                            Posta: via della Posta n. 8 - Piazza Affari - 20123 Milano (MI)<br>
                                                            Email: <a href="mailto:supporto@contolingotto.it">supporto@contolingotto.it</a><br>
                                                            Nel caso di una richiesta di accesso o di informazioni si comunica che, se la richiesta è infondata o eccessiva, Confinvest potrà addebitare una fee o rifiutarsi di agire di conseguenza.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <strong>(XI) Modifiche Alla Presente Politica Sulla Privacy</strong>
                                                    <p>Confinvest si riserva il diritto di modificare il contenuto, in parte o completamente, anche a causa di aggiornamenti normativi. Verrà pubblicata sul Web Site e/o sulla App la versione aggiornata della presente informativa.</p>
                                                </li>
                                            </ol>

                                        </li>
                                    </ol>
                                </li>
                            </ol>


                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
