{% extends "_layout.njk" %}
{% import 'macros/_navigation.njk' as navigation %}
{% import 'macros/_header.njk' as header %}

{% block head %}
    <title>Conto Lingotto | Assistenza | Sicurezza e Privacy</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block navigation %}
    {{ navigation.renderNavigation('index') }}
{% endblock %}

{% block header %}
    {{ header.renderHeader('Hello world!') }}
{% endblock %}

{% block content %}

    <section class="hero hero--breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumbs">
                        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">Home</a></li>
                        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="./assistenza">Assistenza</a></li>
                        <li class="breadcrumbs__item"><a class="breadcrumbs__link current" href="./sicurezza-privacy">Sicurezza e Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="faq faq--single">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="go-to-back" href="./assistenza"><i class="fal fa-long-arrow-left"></i>Torna indietro</a>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <div class="section__inner section__inner--light">
                        <figure>
                            <img src="./assets/icons/icon_domande-frequenti.svg">
                        </figure>
                        <h2 class="section__title">Sicurezza e Privacy</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <div id="accordion">

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Dove è custodito l’oro acquistato?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                L’oro acquistato è custodito all’interno di un caveau Confinvest 100% assicurato ed allocato presso primarie banche italiane.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Posso ritirare il mio lingotto fisicamente?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                No, non è possibile. È necessario richiedere la consegna presso un indirizzo in Italia.
                            </div>
                        </div>

                        <div class="card card--collapse js-collapse">
                            <div class="card__header js-collapse-header">
                                <h5 class="card__title">Qual è la fiscalità?</h5>
                            </div>
                            <div class="card__body js-collapse-body">
                                Per avere maggiori informazioni in merito alla fiscalità dell’oro fisico, ti invitiamo a rivolgerti al tuo responsabile per la fiscalità.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="circles">
            <span class="circle circle--x1"></span>
            <span class="circle circle--x2"></span>
            <span class="circle circle--x4"></span>
        </div>
    </section>



{% endblock %}
