{% import '_globals.njk' as globals %}

{% macro renderHeader(pageTitle='') %}
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navigation">
                        <a class="logo" href="/"><img src="./assets/images/logo.svg"></a>
                        <ul class="menu">
                            <!-- TO DO: Per far apparire il tasto accedi, rimuovere (style="display: none;") -->
                            <li class="menu__item"><a class="menu__link menu__link--accedi" href="/accedi" style="display: none;">Accedi</a></li>
                            <li class="menu__item"><a class="menu__link" href="/assistenza">Assistenza</a></li>
                        </ul>
                        <div class="hamburger js-btn-mobile">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </nav>
                    <nav class="navigation-mobile js-menu-mobile">
                        <ul class="menu-mobile">
                            <li class="menu-mobile__item hasNotLink">Supporto</li>
                            <li class="menu-mobile__item"><a class="menu-mobile__link" href="./assistenza">Assistenza</a></li>
                            <li class="menu-mobile__item"><a class="menu-mobile__link" href="mailto:supporto@contolingotto.it">Contattaci</a></li>
                            <li class="menu-mobile__item hasNotLink"></li>
                            <li class="menu-mobile__item hasNotLink"></li>
                            <li class="menu-mobile__item hasNotLink">Legal</li>
                            <li class="menu-mobile__item"><a target="_blank" class="menu-mobile__link" href="./assets/Informativa-pre-contrattuale-CONTO-LINGOTTO.pdf">Informativa pre-contrattuale</a></li>
                            <li class="menu-mobile__item"><a class="menu-mobile__link" href="./privacy-policy">Privacy Policy</a></li>
                        </ul>
                        <ul class="social">
                            <li><a class="btn btn--social" href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="btn btn--social" href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a class="btn btn--social" href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <!-- TO DO: Per far apparire il tasto accedi, rimuovere (style="display: none;") -->
                        <a href="#" class="btn btn--login" style="display: none;">Accedi</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
{% endmacro %}

