{% import '_globals.njk' as globals %}

{% macro renderNavigation(activePage='index') %}
    {#<nav class="globalNav">
      <a class="globalNav__logo" href="/">
        <img src="assets/images/logo.svg" alt="logo"/>
      </a>
      <ul class="globalNav__navbar">
        <li class="globalNav__item">
          <a class="globalNav__link {% if activePage == 'index' %}globalNav__current{% endif %}" href="/" >Index</a>
        </li>
        <li class="globalNav__item">
          <a class="globalNav__link {% if activePage == '404' %}globalNav__current{% endif %}" href="/404.html">404 Page</a>
        </li>
      </ul>
    </nav>#}
{% endmacro %}
