<div class="circles">
    <span class="circle circle--x1"></span>
    <span class="circle circle--x2"></span>
    <span class="circle circle--x3"></span>
    <span class="circle circle--x4"></span>
    <span class="circle circle--x5"></span>
</div>