<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="assets/stylesheets/fontawesome.css"/>
    <link rel="stylesheet" href="assets/stylesheets/fonts.css"/>
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="assets/stylesheets/slick.css"/>
    <link rel="stylesheet" href="assets/stylesheets/style.css"/>

    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />

    {% block head %}
        <title>My site</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
    {% endblock %}
</head>

<body>

{% block navigation %} {% endblock %}
{% block header %} {% endblock %}

<div class="main">
    {% block content %} {% endblock %}
</div>

{% include "parts/_footer.njk" %}

{% include "parts/_cookie-bar.njk" %}

<script type="text/javascript" src="assets/javascripts/vendors.js"></script>
<script type="text/javascript" src="assets/javascripts/scripts.js"></script>

<!-- Common scripts placeholder. -->

{% block scripts %} {% endblock %}
</body>
</html>
